@import "bourbon";
@import "font-awesome";

$fontFamily:'Courier';

body {
  background: #e2ebf3;
  font-family: $fontFamily;
}


h1{
  text-align: center;
}


table{
  max-width: 100%;
}

.deck{
  display: inline-block;
  width: 25%;
  // margin-left: 10%;
  // margin-right: 10%;
  float: left;
    ul{
      list-style: none;
      display:inline-block;
      margin: 0;
      padding: 0;

    img {
      height: 200px;
    }

    .button1{
      margin-left: 20%;
      margin-right: 10%;
      border-radius: 20px;
      background-color: white;
      border: none;
      font-family: $fontFamily;
    }

    button:hover{
      background-color: #7BFFB9;
    }

    button:focus{
      outline: none;
    }
  }
}




.cardP1, .cardP2{

width: 25%;
display: inline-block;
height: 200px;


}

.cardP2{
  width: 20%;
}


.deckCPU{
  display: inline-block;
  float: right;
  // margin-right: 10%;
  width: 25%;

    ul{
      display: inline-block;
      list-style: none;
      margin: 0;
      float: right;
    }

    img{
      height: 200px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }

    button{
      margin-left: 10%;
      margin-right: 10%;
      border-radius: 20px;
      background-color: white;
      border: none;
      font-family: $fontFamily;
    }

    button:hover{
      background-color: #7BFFB9;
    }

    button:focus{
      outline: none;
    }

}


footer{
  height: 100px;
  max-width: 100%;
  padding-top: 50px;

  ul{
    margin-left: 40%;
    list-style: none;
  }
}

// cards

